@model Socialnet.Models.Profile

@{
    ViewBag.Title = "Edit Profile";
}

<h2>Edit your profile</h2>

@using(Html.BeginForm("EditProfile", "Profile", FormMethod.Post,new { enctype = "multipart/form-data" })){
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)


        <input type="hidden" name="@Html.NameFor(model=>model.ProfileId)" value="@Html.ValueFor(model=>model.ProfileId)" />
        <input type="hidden" name="CurrentProfilePic" value="@Html.ValueFor(m=>m.ProfilePicture)" />

        <div class="editor-label">
            @Html.LabelFor(model => model.FirstName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FirstName)
            @Html.ValidationMessageFor(model => model.FirstName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LastName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LastName)
            @Html.ValidationMessageFor(model => model.LastName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ProfilePicture)
        </div>
        <div class="editor-field">
            <input type="file" name="ProfilePic" id="ProfilePictureID" /> <br />
            <img id="profile_pic_img" src="~/images/@Html.ValueFor(m=>m.ProfilePicture)" width="200"/>
            @Html.ValidationMessageFor(model => model.ProfilePicture)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">

        function readURL(input) {

            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#profile_pic_img').attr('src', e.target.result);
                }

                reader.readAsDataURL(input.files[0]);
            }
        }

        $("#ProfilePictureID").change(function () {
            readURL(this);
        });

    </script>
}
