@model Socialnet.Models.ProfileViewModel

@{
    ViewBag.Title = "Home | SocialNet";
}
<h2>Welcome : @ViewData["username"]
     </h2>
@if (@Model.UserProfile != null)
{
<img src="~/images/@Model.UserProfile.ProfilePicture" height="100" />
}
<h2>Home</h2>

<div class="friend_requests">You have @Model.MyFriendRequests.Count new friend requests</div> 

@foreach (Socialnet.Models.FriendRequest Request in Model.MyFriendRequests)
{
    
    @Html.ActionLink("Add " + Request.Username + " as friend", "MakeFriends", "Profile", new { user = Request.Username, Friend = Request.WantsFriend }, null)
    
}


<h3>Post status</h3>

@using (Html.BeginForm("PostStatus", "Home", FormMethod.Post))
{
    @Html.LabelFor(m => m.StatusMessage.Status);
    @Html.TextBoxFor(m => m.StatusMessage.Status);
    
    @Html.HiddenFor(m => m.StatusMessage.Username)
    
    <input type="submit" value="Post status" />

}

<h3>News Feed</h3>

@foreach (Socialnet.Models.NewsFeed feed in Model.UserFeeds)
{
    <div class="news_feed">
        <div class="user_pic"><img src="~/images/@feed.UserDisplayPicture" height="50" width="50" /></div>
        <div class="feed_content">
            <div class="user_display_name">@feed.UserDisplayName</div>
            @if (feed.StoryType == "status")
            {
            <div class="feed_story">@feed.FeedEntry</div>
            }
            else
            {
                <img src="~/images/@feed.FeedEntry" height="200" />
            }
            <div class="posted_on">@Html.GetPrettyDate(feed.PostedOn)</div>

                <div class="comments" id="@(feed.StoryType+"_"+feed.PostId)">
                    
                    @foreach (Socialnet.Models.Comment c in feed.StoryComments)
                    {
                        <div class="comment">
                            <div class="comment_text">@c.Text</div>
                            <div class="comment_from">@c.Username</div>
                            <div class="comment_postedon">@Html.GetPrettyDate(c.DatePosted)</div>
                        </div>
                    }
                </div>
                    @using (Html.BeginForm("PostComment", "Home", FormMethod.Post, new { @class = "commentForm" }))
                    {
                    <text>Post comment <br /></text>
                        <input type="hidden" name="@Html.NameFor(m => m.PostComment.PostId)" value="@feed.PostId" />

                        @Html.TextBoxFor(m => m.PostComment.Text)
                        
                        <input type="submit" value="Post Comment" />
                        <div class="result"></div>
                    }
                
            

        </div>
        <div class="clearLeft"></div> 
    </div>
}

@section scripts{
    <script type="text/javascript" src="~/Content/tmpl.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.signalR-2.0.1.min.js"></script>
    <script type="text/javascript" src="~/Signalr/hubs"></script>
    <script type="text/javascript">

        var markup = "<div class=comment><div class=comment_text>${commentText}</div><div class=comment_from>${username}</div><div class=comment_postedon>Just Now</div></div>";
        $.template("commentTemplate", markup);

        $(document).ready(function () {

            var hub = $.connection.commentshub;
            hub.client.sendnotification = function (result, resultDiv) {
              //  alert(result.username);
                console.log(resultDiv);
                $.tmpl("commentTemplate", result).appendTo("#"+resultDiv);
            }

            $.connection.hub.start().done(function () {

                $(document).on("submit", "form.commentForm", function (event) {
                    event.preventDefault();
                    var resultDiv = $(this).parent().find(".comments").attr("id");
                    $.ajax({
                        url: this.action,
                        type: this.method,
                        data: $(this).serialize(),
                        success: function (result) {
                            var results = $.parseJSON(result);
                            console.log(result);

                            hub.server.sendCommentNotification(result, resultDiv);


                        }
                    });

                    return false;

                });


            });
        });

       
            


    </script>

}