@using Socialnet.Models;
@model LoginViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Login.cshtml";
}
<div class="loginForm">
    <div style="text-align:center">
        <img src="~/images/logo.png" />
    </div>
@using (Html.BeginForm("Login", "Home", FormMethod.Post)){
    @Html.ValidationSummary(true, "Login failed. Check your login credentials");
    @Html.TextBoxFor(m => m.Username, new { @class = "form-control", placeholder="Username" })
    @Html.ValidationMessageFor(m => m.Username)
    
    @Html.PasswordFor(m => m.Password,new { @class = "form-control", placeholder="password" })
    @Html.ValidationMessageFor(m => m.Password)

    <input type="submit" class="btn" value="Login"/>
}
    <a href="#register_form_div" class="register_form_btn">Register here</a>

    </div>
@section scripts{
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/0.8.9/jquery.magnific-popup.min.js">


    </script>

    <script type="text/javascript">

        $(document).ready(function () {

 
            $(".loginForm").center();

            $('.register_form_btn').magnificPopup({
                type: 'inline'
            });

            $("#register_form").submit(function (e) {
                e.preventDefault();

                if ($(this).valid()) {
                    $.post("Home/Register", $(this).serialize(),
                        function (data) {

                            $("#register_form_div").html("You have been now registered. You can login now");
                           // alert(data);
                            console.log(data);
                        });
                }

            });


        });

        jQuery.fn.center = function () {
            return this.each(function () {
                var el = $(this);
                var h = el.height();
                var w = el.width();
                var w_box = $(window).width();
                var h_box = $(window).height();
                var w_total = (w_box - w) / 2; //400
                var h_total = (h_box - h) / 2;
                var css = {
                    "position": 'absolute', "left": w_total + "px", "top":
        h_total + "px"
                };
                el.css(css)
            });
        };

    </script>

}


<div id="register_form_div" class="white-popup mfp-hide">
            @Html.Partial("Register", new RegisterViewModel())
      </div>
      