@using Socialnet.Models;
@model LoginViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Login.cshtml";
}
<div class="loginForm">

@using (Html.BeginForm("Login", "Home", FormMethod.Post)){
    @Html.ValidationSummary(true, "Login failed. Check your login credentials");
    <p>
    @Html.LabelFor(m => m.Username)<br />
    @Html.TextBoxFor(m => m.Username, new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.Username)
    </p>
    
    <p>
    @Html.LabelFor(m => m.Password)<br />
    @Html.PasswordFor(m => m.Password,new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.Password)

    </p>
    <input type="submit" class="btn" value="Login"/>
}
    </div>
@section scripts{
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/0.8.9/jquery.magnific-popup.min.js">


    </script>

    <script type="text/javascript">

        $(document).ready(function () {

            $('.register_form_btn').magnificPopup({
                type: 'inline'
            });

            $("#register_form").submit(function (e) {
                e.preventDefault();

                if ($(this).valid()) {
                    $.post("Home/Register", $(this).serialize(),
                        function (data) {

                            $("#register_form_div").html("You have been now registered. You can login now");
                           // alert(data);
                            console.log(data);
                        });
                }

            });


        });

    </script>

}

<a href="#register_form_div" class="register_form_btn">Register here</a>

<div id="register_form_div" class="white-popup mfp-hide">
            @Html.Partial("Register", new RegisterViewModel())
      </div>
      