@model Socialnet.Models.RegisterViewModel
<h2>Register here </h2>

@using (Html.BeginForm("Register", "Home", FormMethod.Post, new { id = "register_form" }))
{
    @Html.ValidationSummary()
    <div>
        @Html.TextBoxFor(m => m.UserDetails.Username, new { placeholder = "Username"})
    </div>
    <div>
    @Html.PasswordFor(m => m.UserDetails.Password, new { placeholder = "Password"})
    </div>
    <div>
    @Html.TextBoxFor(m => m.UserDetails.Email , new { placeholder = "Email"})
    </div>
    <div>
    @Html.TextBoxFor(m => m.UserProfile.FirstName, new { placeholder = "First name"})
    </div>
    <div>
       @Html.TextBoxFor(m => m.UserProfile.LastName, new { placeholder = "Last name"})
    </div>
    <div>
        <input type="submit" value="Register" id="register_submit" />
    </div>
}