@model Socialnet.Models.User
<h2>Register here </h2>

@using (Html.BeginForm("Register", "Home"))
{
    @Html.LabelFor(m => m.Username);
    @Html.TextBoxFor(m => m.Username);

    @Html.LabelFor(m => m.Password);
    @Html.TextBoxFor(m => m.Password);
    
    @Html.LabelFor(m => m.Email);
    @Html.TextBoxFor(m => m.Email);
    
    <input type="submit" value="Register" />

}